@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-color {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.swiper {
    padding-top: 50px;
    padding-bottom: 50px;
}
  
.swiper-slide {
    @apply blur-sm  transition-all ease-in-out duration-300;
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 150px;
}

.swiper-slide:hover {
    @apply blur-none;
}

.swiper-slide-active {
    @apply bg-[#1ca0a2] blur-none  transition-all ease-in-out duration-300
}
  
.swiper-slide img {
    display: block;
    width: 100%;
}